apispec==5.1.1
cffi==1.15.0
click==8.0.3
colorama==0.4.4
Flask==2.0.2
flask-apispec==0.11.0
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
marshmallow==3.14.1
packaging==21.3
passlib==1.7.4
pycparser==2.21
pyparsing==3.0.7
six==1.16.0
SQLAlchemy==1.4.31
webargs==8.1.0
Werkzeug==2.0.2
